* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    margin-left: 20px;
}

#filter-container {
    margin: 0 20px;
}

.horizontal-line {
    border-bottom: 2px solid rgb(160, 155, 155);
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;

}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: 30px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
    background-color: #706f6f;
    margin-right: 10px;
    flex-grow: 1;
}

.progress {
    height: 100%;
    border-radius: 5px;
    background-color: #8bc34a;
}

#progress-text {
    font-size: 14px;
    margin-right: 10px;
    color: #ccc;
    min-width: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#reset-button {
    font-size: 16px;
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#reset-button:hover {
    background-color: #e74c3c;
}